```env
# Environment
NODE_ENV=development ou test

# MongoDB
MONGO_URI_DEV=sua_string_de_conexao_ao_banco_de_desenvolvimento
MONGO_URI_TEST=sua_string_de_conexao_ao_banco_de_testes

# Server
PORT=3000

# Frontend URL (CORS)
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=sua-chave-para-access-token-aqui
JWT_REFRESH_SECRET=sua-chave-para-refresh-token-diferente-aqui
```