MONGO_URI=sua_string_de_conexao
PORT=3000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=sua-chave-para-access-token-aqui
JWT_REFRESH_SECRET=sua-chave-para-refresh-token-diferente-aqui
VITE_API_URL=http://localhost:3000
VITE_FRONTEND_URL=http://localhost:5173